* {
  font-size: medium;
  font-family: 'Roboto';
  word-spacing: 2px;
}

body {
  background: rgb(219, 215, 215);
  text-align: center;
  font-size: medium; 
  padding-top: 35px;
  padding-bottom: 15px;
}

form {
  display: flex;
  padding: 15px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* font-weight: bold;*/
}

.input_dates, .input_prices {
  display: flex;
  /*padding: 15px;*/
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* font-weight: bold;*/
}

.dashboard-title {
  font-size: 15px; 
  font-weight: bold; 
  margin-top: 50px;
  margin-bottom: 30px;
}

.courses-table {
  font-size: medium;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

.stats-card-container {
  display:flex;
  margin-top: 50px;
  justify-content: space-evenly;
  font-size: medium;  
}

.stats-card {
  overflow: hidden;
  width: 140px;
}

.stats-amount-container{
  color: white;
  border-radius: 5px; 
  background-color: black;
  /* box-shadow: 0 0 5px -1px rgba(0,0,0,0.6); */
  padding: 5px;
}

.course-card-container {
  /* font-weight: bold; */
  margin: 0px;
}

.course-page-container {
  /* font-weight: bold; */
  margin-bottom: 30px;
}

.course-page-title{
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 500;
}

.image-course-card {
  max-width: 1200px;
  max-height: 700px;
}

.course-page-descr{
  margin: 20px;
  text-align: center;
}

.course-page-buttons{
  display: inline-block;
  margin-bottom: 40px;
}

.course-page-delete{
  float: right;
  margin-left: 10px;
}

.add-course-title{
  margin-top: 20px;
}

.edit-course-title{
  margin-top: 20px;
}

.container {
  text-align: center;
  display: block;  
  height: 300px;
  margin-left: 30px;
  margin-top: 60px;
  margin-bottom: 100px;
  width: 275px;
  float: left;
}

#error-page {
  text-align: center;
}

input {
  width: 100%;
  border: 1px solid;
  border-color: #ccc;
  outline: none;
  accent-color: inherit;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  border: 1px solid;
  border-color:#ccc;
  outline: none;
  margin-bottom: 20px;
}

select {
  width: 100%;
  border: none;
  background-color: #ccc; 
  text-align: center;
  color:black;
  accent-color:inherit;
}

input[type='number'] {
  width: 100px;
  margin-bottom: 20px;
}

input[type='date'] {
  width: 130px;
  margin-bottom: 20px;
}

button {
  width: 100px;
  overflow: hidden;
  border: none;
  /* box-shadow: 0 0 5px -1px rgba(0,0,0,0.6); */
  background-color: black; 
  font-size: small;
  color: white;
  padding: 5px;
}

h1, h2, h3, h5 {
  font-weight: bold;
  margin: 20px;
}

p {
  margin: 10px;
}

button:hover {
  background-color: rgba(191, 181, 195, 0.907); 
  color: black;
}

.Navbar {
  background-color: #ccc;
  /* font-size: small; */
  /* font-weight: bold; */
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px;
  /* z-index: 1; */
}

.navbar-link {
 margin: 0;
 font-size: 12px !important;
}

.navbar-title {
  margin: 0;
  font-weight: bold;
  font-size: 12px !important; 
 }

.navbar-link:hover {
  transform: translateX(3px) translateY(-1px);
  color: black;
  border-radius: 4px; 
  background-color:rgba(191, 181, 195, 0.7);
}

a:link, a:visited, a:active, a {
  font-size: small;
  color: black;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

input[type='checkbox'] {
  accent-color: black;
}

footer {
  background:rgb(187, 186, 186);
  color: black;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15px;
  font-size: small;
  font-weight: bold;
}

/*
input[type='date'] .selected {
  accent-color: black; 
}

input[type="date"] .select {
  accent-color: black;
}

input[type="date"] .focus {
  accent-color: black;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  accent-color: black;
}

.date-edit-field:not([disabled="true"]):focus {
  background-color: black;
  color: HighlightText;
  outline: none;
}

input[type='date'] {
  accent-color: black;
  color:black;
}

input[type='date'] ~ button {
  margin-left: auto;
  position: absolute;
  right: 1.8rem;
  align-self: center;
  text-align: center;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: rgb(170, 170, 170);
}

input[type='date'] ~ button:hover {
  color: rgb(90, 90, 90);
}
*/


/* selected color in date picker not working */